<p id="notice"><%= notice %></p>

<p>
  <strong>Transid:</strong>
  <%= @jdt1.TransId %>
</p>

<p>
  <strong>Line id:</strong>
  <%= @jdt1.Line_ID %>
</p>

<p>
  <strong>Account:</strong>
  <%= @jdt1.Account %>
</p>

<p>
  <strong>Debit:</strong>
  <%= @jdt1.Debit %>
</p>

<p>
  <strong>Credit:</strong>
  <%= @jdt1.Credit %>
</p>

<p>
  <strong>Syscred:</strong>
  <%= @jdt1.SYSCred %>
</p>

<p>
  <strong>Sysdeb:</strong>
  <%= @jdt1.SYSDeb %>
</p>

<p>
  <strong>Fcdebit:</strong>
  <%= @jdt1.FCDebit %>
</p>

<p>
  <strong>Fccredit:</strong>
  <%= @jdt1.FCCredit %>
</p>

<p>
  <strong>Fccurrency:</strong>
  <%= @jdt1.FCCurrency %>
</p>

<p>
  <strong>Duedate:</strong>
  <%= @jdt1.DueDate %>
</p>

<p>
  <strong>Sourceid:</strong>
  <%= @jdt1.SourceID %>
</p>

<p>
  <strong>Sourceline:</strong>
  <%= @jdt1.SourceLine %>
</p>

<p>
  <strong>Shortname:</strong>
  <%= @jdt1.ShortName %>
</p>

<p>
  <strong>Intrnmatch:</strong>
  <%= @jdt1.IntrnMatch %>
</p>

<p>
  <strong>Extrmatch:</strong>
  <%= @jdt1.ExtrMatch %>
</p>

<p>
  <strong>Contraact:</strong>
  <%= @jdt1.ContraAct %>
</p>

<p>
  <strong>Linememo:</strong>
  <%= @jdt1.LineMemo %>
</p>

<p>
  <strong>Ref3line:</strong>
  <%= @jdt1.Ref3Line %>
</p>

<p>
  <strong>Transtype:</strong>
  <%= @jdt1.TransType %>
</p>

<p>
  <strong>Refdate:</strong>
  <%= @jdt1.RefDate %>
</p>

<p>
  <strong>Ref2date:</strong>
  <%= @jdt1.Ref2Date %>
</p>

<p>
  <strong>Ref1:</strong>
  <%= @jdt1.Ref1 %>
</p>

<p>
  <strong>Ref2:</strong>
  <%= @jdt1.Ref2 %>
</p>

<p>
  <strong>Createdby:</strong>
  <%= @jdt1.CreatedBy %>
</p>

<p>
  <strong>Baseref:</strong>
  <%= @jdt1.BaseRef %>
</p>

<p>
  <strong>Project:</strong>
  <%= @jdt1.Project %>
</p>

<p>
  <strong>Transcode:</strong>
  <%= @jdt1.TransCode %>
</p>

<p>
  <strong>Profitcode:</strong>
  <%= @jdt1.ProfitCode %>
</p>

<p>
  <strong>Taxdate:</strong>
  <%= @jdt1.TaxDate %>
</p>

<p>
  <strong>Systemrate:</strong>
  <%= @jdt1.SystemRate %>
</p>

<p>
  <strong>Mthdate:</strong>
  <%= @jdt1.MthDate %>
</p>

<p>
  <strong>Tomthsum:</strong>
  <%= @jdt1.ToMthSum %>
</p>

<p>
  <strong>Usersign:</strong>
  <%= @jdt1.UserSign %>
</p>

<p>
  <strong>Batchnum:</strong>
  <%= @jdt1.BatchNum %>
</p>

<p>
  <strong>Finncpriod:</strong>
  <%= @jdt1.FinncPriod %>
</p>

<p>
  <strong>Reltransid:</strong>
  <%= @jdt1.RelTransId %>
</p>

<p>
  <strong>Rellineid:</strong>
  <%= @jdt1.RelLineID %>
</p>

<p>
  <strong>Reltype:</strong>
  <%= @jdt1.RelType %>
</p>

<p>
  <strong>Loginstanc:</strong>
  <%= @jdt1.LogInstanc %>
</p>

<p>
  <strong>Vatgroup:</strong>
  <%= @jdt1.VatGroup %>
</p>

<p>
  <strong>Basesum:</strong>
  <%= @jdt1.BaseSum %>
</p>

<p>
  <strong>Vatrate:</strong>
  <%= @jdt1.VatRate %>
</p>

<p>
  <strong>Indicator:</strong>
  <%= @jdt1.Indicator %>
</p>

<p>
  <strong>Adjtran:</strong>
  <%= @jdt1.AdjTran %>
</p>

<p>
  <strong>Revsource:</strong>
  <%= @jdt1.RevSource %>
</p>

<p>
  <strong>Objtype:</strong>
  <%= @jdt1.ObjType %>
</p>

<p>
  <strong>Vatdate:</strong>
  <%= @jdt1.VatDate %>
</p>

<p>
  <strong>Paymentref:</strong>
  <%= @jdt1.PaymentRef %>
</p>

<p>
  <strong>Sysbasesum:</strong>
  <%= @jdt1.SYSBaseSum %>
</p>

<p>
  <strong>Multmatch:</strong>
  <%= @jdt1.MultMatch %>
</p>

<p>
  <strong>Vatline:</strong>
  <%= @jdt1.VatLine %>
</p>

<p>
  <strong>Vatamount:</strong>
  <%= @jdt1.VatAmount %>
</p>

<p>
  <strong>Sysvatsum:</strong>
  <%= @jdt1.SYSVatSum %>
</p>

<p>
  <strong>Closed:</strong>
  <%= @jdt1.Closed %>
</p>

<p>
  <strong>Grossvalue:</strong>
  <%= @jdt1.GrossValue %>
</p>

<p>
  <strong>Checkabs:</strong>
  <%= @jdt1.CheckAbs %>
</p>

<p>
  <strong>Linetype:</strong>
  <%= @jdt1.LineType %>
</p>

<p>
  <strong>Debcred:</strong>
  <%= @jdt1.DebCred %>
</p>

<p>
  <strong>Sequencenr:</strong>
  <%= @jdt1.SequenceNr %>
</p>

<p>
  <strong>Stornoacc:</strong>
  <%= @jdt1.StornoAcc %>
</p>

<p>
  <strong>Balduedeb:</strong>
  <%= @jdt1.BalDueDeb %>
</p>

<p>
  <strong>Balduecred:</strong>
  <%= @jdt1.BalDueCred %>
</p>

<p>
  <strong>Balfcdeb:</strong>
  <%= @jdt1.BalFcDeb %>
</p>

<p>
  <strong>Balfccred:</strong>
  <%= @jdt1.BalFcCred %>
</p>

<p>
  <strong>Balscdeb:</strong>
  <%= @jdt1.BalScDeb %>
</p>

<p>
  <strong>Balsccred:</strong>
  <%= @jdt1.BalScCred %>
</p>

<p>
  <strong>Isnet:</strong>
  <%= @jdt1.IsNet %>
</p>

<p>
  <strong>Dunwizblck:</strong>
  <%= @jdt1.DunWizBlck %>
</p>

<p>
  <strong>Dunnlevel:</strong>
  <%= @jdt1.DunnLevel %>
</p>

<p>
  <strong>Dundate:</strong>
  <%= @jdt1.DunDate %>
</p>

<p>
  <strong>Taxtype:</strong>
  <%= @jdt1.TaxType %>
</p>

<p>
  <strong>Taxpostacc:</strong>
  <%= @jdt1.TaxPostAcc %>
</p>

<p>
  <strong>Stacode:</strong>
  <%= @jdt1.StaCode %>
</p>

<p>
  <strong>Statype:</strong>
  <%= @jdt1.StaType %>
</p>

<p>
  <strong>Taxcode:</strong>
  <%= @jdt1.TaxCode %>
</p>

<p>
  <strong>Validfrom:</strong>
  <%= @jdt1.ValidFrom %>
</p>

<p>
  <strong>Grossvalfc:</strong>
  <%= @jdt1.GrossValFc %>
</p>

<p>
  <strong>Lvlupddate:</strong>
  <%= @jdt1.LvlUpdDate %>
</p>

<p>
  <strong>Ocrcode2:</strong>
  <%= @jdt1.OcrCode2 %>
</p>

<p>
  <strong>Ocrcode3:</strong>
  <%= @jdt1.OcrCode3 %>
</p>

<p>
  <strong>Ocrcode4:</strong>
  <%= @jdt1.OcrCode4 %>
</p>

<p>
  <strong>Ocrcode5:</strong>
  <%= @jdt1.OcrCode5 %>
</p>

<p>
  <strong>Mientry:</strong>
  <%= @jdt1.MIEntry %>
</p>

<p>
  <strong>Miventry:</strong>
  <%= @jdt1.MIVEntry %>
</p>

<p>
  <strong>Clsintp:</strong>
  <%= @jdt1.ClsInTP %>
</p>

<p>
  <strong>Cenvatcom:</strong>
  <%= @jdt1.CenVatCom %>
</p>

<p>
  <strong>Mattype:</strong>
  <%= @jdt1.MatType %>
</p>

<p>
  <strong>Pstngtype:</strong>
  <%= @jdt1.PstngType %>
</p>

<p>
  <strong>Validfrom2:</strong>
  <%= @jdt1.ValidFrom2 %>
</p>

<p>
  <strong>Validfrom3:</strong>
  <%= @jdt1.ValidFrom3 %>
</p>

<p>
  <strong>Validfrom4:</strong>
  <%= @jdt1.ValidFrom4 %>
</p>

<p>
  <strong>Validfrom5:</strong>
  <%= @jdt1.ValidFrom5 %>
</p>

<p>
  <strong>Location:</strong>
  <%= @jdt1.Location %>
</p>

<p>
  <strong>Wtaxcode:</strong>
  <%= @jdt1.WTaxCode %>
</p>

<p>
  <strong>Equvatrate:</strong>
  <%= @jdt1.EquVatRate %>
</p>

<p>
  <strong>Equvatsum:</strong>
  <%= @jdt1.EquVatSum %>
</p>

<p>
  <strong>Sysequsum:</strong>
  <%= @jdt1.SYSEquSum %>
</p>

<p>
  <strong>Totalvat:</strong>
  <%= @jdt1.TotalVat %>
</p>

<p>
  <strong>Systvat:</strong>
  <%= @jdt1.SYSTVat %>
</p>

<p>
  <strong>Wtliable:</strong>
  <%= @jdt1.WTLiable %>
</p>

<p>
  <strong>Wtline:</strong>
  <%= @jdt1.WTLine %>
</p>

<p>
  <strong>Wtapplied:</strong>
  <%= @jdt1.WTApplied %>
</p>

<p>
  <strong>Wtapplieds:</strong>
  <%= @jdt1.WTAppliedS %>
</p>

<p>
  <strong>Wtappliedf:</strong>
  <%= @jdt1.WTAppliedF %>
</p>

<p>
  <strong>Wtsum:</strong>
  <%= @jdt1.WTSum %>
</p>

<p>
  <strong>Wtsumfc:</strong>
  <%= @jdt1.WTSumFC %>
</p>

<p>
  <strong>Wtsumsc:</strong>
  <%= @jdt1.WTSumSC %>
</p>

<p>
  <strong>Payblock:</strong>
  <%= @jdt1.PayBlock %>
</p>

<p>
  <strong>Payblckref:</strong>
  <%= @jdt1.PayBlckRef %>
</p>

<p>
  <strong>Lictradnum:</strong>
  <%= @jdt1.LicTradNum %>
</p>

<p>
  <strong>Interimtyp:</strong>
  <%= @jdt1.InterimTyp %>
</p>

<p>
  <strong>Dprid:</strong>
  <%= @jdt1.DprId %>
</p>

<p>
  <strong>Matchref:</strong>
  <%= @jdt1.MatchRef %>
</p>

<p>
  <strong>Ordered:</strong>
  <%= @jdt1.Ordered %>
</p>

<p>
  <strong>Cup:</strong>
  <%= @jdt1.CUP %>
</p>

<p>
  <strong>Cig:</strong>
  <%= @jdt1.CIG %>
</p>

<p>
  <strong>Bplid:</strong>
  <%= @jdt1.BPLId %>
</p>

<p>
  <strong>Bplname:</strong>
  <%= @jdt1.BPLName %>
</p>

<p>
  <strong>Vatregnum:</strong>
  <%= @jdt1.VatRegNum %>
</p>

<p>
  <strong>Sledgerf:</strong>
  <%= @jdt1.SLEDGERF %>
</p>

<%= link_to 'Edit', edit_jdt1_path(@jdt1) %> |
<%= link_to 'Back', jdt1s_path %>
