<p id="notice"><%= notice %></p>

<p>
  <strong>Batchnum:</strong>
  <%= @ojdt.BatchNum %>
</p>

<p>
  <strong>Transid:</strong>
  <%= @ojdt.TransId %>
</p>

<p>
  <strong>Btfstatus:</strong>
  <%= @ojdt.BtfStatus %>
</p>

<p>
  <strong>Transtype:</strong>
  <%= @ojdt.TransType %>
</p>

<p>
  <strong>Baseref:</strong>
  <%= @ojdt.BaseRef %>
</p>

<p>
  <strong>Refdate:</strong>
  <%= @ojdt.RefDate %>
</p>

<p>
  <strong>Memo:</strong>
  <%= @ojdt.Memo %>
</p>

<p>
  <strong>Ref1:</strong>
  <%= @ojdt.Ref1 %>
</p>

<p>
  <strong>Ref2:</strong>
  <%= @ojdt.Ref2 %>
</p>

<p>
  <strong>Createdby:</strong>
  <%= @ojdt.CreatedBy %>
</p>

<p>
  <strong>Loctotal:</strong>
  <%= @ojdt.LocTotal %>
</p>

<p>
  <strong>Fctotal:</strong>
  <%= @ojdt.FcTotal %>
</p>

<p>
  <strong>Systotal:</strong>
  <%= @ojdt.SysTotal %>
</p>

<p>
  <strong>Transcode:</strong>
  <%= @ojdt.TransCode %>
</p>

<p>
  <strong>Origncurr:</strong>
  <%= @ojdt.OrignCurr %>
</p>

<p>
  <strong>Transrate:</strong>
  <%= @ojdt.TransRate %>
</p>

<p>
  <strong>Btfline:</strong>
  <%= @ojdt.BtfLine %>
</p>

<p>
  <strong>Transcurr:</strong>
  <%= @ojdt.TransCurr %>
</p>

<p>
  <strong>Project:</strong>
  <%= @ojdt.Project %>
</p>

<p>
  <strong>Duedate:</strong>
  <%= @ojdt.DueDate %>
</p>

<p>
  <strong>Taxdate:</strong>
  <%= @ojdt.TaxDate %>
</p>

<p>
  <strong>Pcaddition:</strong>
  <%= @ojdt.PCAddition %>
</p>

<p>
  <strong>Finncpriod:</strong>
  <%= @ojdt.FinncPriod %>
</p>

<p>
  <strong>Datasource:</strong>
  <%= @ojdt.DataSource %>
</p>

<p>
  <strong>Updatedate:</strong>
  <%= @ojdt.UpdateDate %>
</p>

<p>
  <strong>Createdate:</strong>
  <%= @ojdt.CreateDate %>
</p>

<p>
  <strong>Usersign:</strong>
  <%= @ojdt.UserSign %>
</p>

<p>
  <strong>Usersign2:</strong>
  <%= @ojdt.UserSign2 %>
</p>

<p>
  <strong>Refndrprt:</strong>
  <%= @ojdt.RefndRprt %>
</p>

<p>
  <strong>Loginstanc:</strong>
  <%= @ojdt.LogInstanc %>
</p>

<p>
  <strong>Objtype:</strong>
  <%= @ojdt.ObjType %>
</p>

<p>
  <strong>Indicator:</strong>
  <%= @ojdt.Indicator %>
</p>

<p>
  <strong>Adjtran:</strong>
  <%= @ojdt.AdjTran %>
</p>

<p>
  <strong>Revsource:</strong>
  <%= @ojdt.RevSource %>
</p>

<p>
  <strong>Stornodate:</strong>
  <%= @ojdt.StornoDate %>
</p>

<p>
  <strong>Stornototr:</strong>
  <%= @ojdt.StornoToTr %>
</p>

<p>
  <strong>Autostorno:</strong>
  <%= @ojdt.AutoStorno %>
</p>

<p>
  <strong>Corisptivi:</strong>
  <%= @ojdt.Corisptivi %>
</p>

<p>
  <strong>Vatdate:</strong>
  <%= @ojdt.VatDate %>
</p>

<p>
  <strong>Stamptax:</strong>
  <%= @ojdt.StampTax %>
</p>

<p>
  <strong>Series:</strong>
  <%= @ojdt.Series %>
</p>

<p>
  <strong>Number:</strong>
  <%= @ojdt.Number %>
</p>

<p>
  <strong>Autovat:</strong>
  <%= @ojdt.AutoVAT %>
</p>

<p>
  <strong>Docseries:</strong>
  <%= @ojdt.DocSeries %>
</p>

<p>
  <strong>Foliopref:</strong>
  <%= @ojdt.FolioPref %>
</p>

<p>
  <strong>Folionum:</strong>
  <%= @ojdt.FolioNum %>
</p>

<p>
  <strong>Createtime:</strong>
  <%= @ojdt.CreateTime %>
</p>

<p>
  <strong>Blockdunn:</strong>
  <%= @ojdt.BlockDunn %>
</p>

<p>
  <strong>Reporteu:</strong>
  <%= @ojdt.ReportEU %>
</p>

<p>
  <strong>Report347:</strong>
  <%= @ojdt.Report347 %>
</p>

<p>
  <strong>Printed:</strong>
  <%= @ojdt.Printed %>
</p>

<p>
  <strong>Doctype:</strong>
  <%= @ojdt.DocType %>
</p>

<p>
  <strong>Attnum:</strong>
  <%= @ojdt.AttNum %>
</p>

<p>
  <strong>Genregno:</strong>
  <%= @ojdt.GenRegNo %>
</p>

<p>
  <strong>Rg23apart2:</strong>
  <%= @ojdt.RG23APart2 %>
</p>

<p>
  <strong>Rg23cpart2:</strong>
  <%= @ojdt.RG23CPart2 %>
</p>

<p>
  <strong>Mattype:</strong>
  <%= @ojdt.MatType %>
</p>

<p>
  <strong>Creator:</strong>
  <%= @ojdt.Creator %>
</p>

<p>
  <strong>Approver:</strong>
  <%= @ojdt.Approver %>
</p>

<p>
  <strong>Location:</strong>
  <%= @ojdt.Location %>
</p>

<p>
  <strong>Seqcode:</strong>
  <%= @ojdt.SeqCode %>
</p>

<p>
  <strong>Serial:</strong>
  <%= @ojdt.Serial %>
</p>

<p>
  <strong>Seriesstr:</strong>
  <%= @ojdt.SeriesStr %>
</p>

<p>
  <strong>Substr:</strong>
  <%= @ojdt.SubStr %>
</p>

<p>
  <strong>Autowt:</strong>
  <%= @ojdt.AutoWT %>
</p>

<p>
  <strong>Wtsum:</strong>
  <%= @ojdt.WTSum %>
</p>

<p>
  <strong>Wtsumsc:</strong>
  <%= @ojdt.WTSumSC %>
</p>

<p>
  <strong>Wtsumfc:</strong>
  <%= @ojdt.WTSumFC %>
</p>

<p>
  <strong>Wtapplied:</strong>
  <%= @ojdt.WTApplied %>
</p>

<p>
  <strong>Wtapplieds:</strong>
  <%= @ojdt.WTAppliedS %>
</p>

<p>
  <strong>Wtappliedf:</strong>
  <%= @ojdt.WTAppliedF %>
</p>

<p>
  <strong>Baseamnt:</strong>
  <%= @ojdt.BaseAmnt %>
</p>

<p>
  <strong>Baseamntsc:</strong>
  <%= @ojdt.BaseAmntSC %>
</p>

<p>
  <strong>Baseamntfc:</strong>
  <%= @ojdt.BaseAmntFC %>
</p>

<p>
  <strong>Basevtat:</strong>
  <%= @ojdt.BaseVtAt %>
</p>

<p>
  <strong>Basevtatsc:</strong>
  <%= @ojdt.BaseVtAtSC %>
</p>

<p>
  <strong>Basevtatfc:</strong>
  <%= @ojdt.BaseVtAtFC %>
</p>

<p>
  <strong>Versionnum:</strong>
  <%= @ojdt.VersionNum %>
</p>

<p>
  <strong>Basetrans:</strong>
  <%= @ojdt.BaseTrans %>
</p>

<p>
  <strong>Residennum:</strong>
  <%= @ojdt.ResidenNum %>
</p>

<p>
  <strong>Operatcode:</strong>
  <%= @ojdt.OperatCode %>
</p>

<p>
  <strong>Ref3:</strong>
  <%= @ojdt.Ref3 %>
</p>

<p>
  <strong>Ssiexmpt:</strong>
  <%= @ojdt.SSIExmpt %>
</p>

<p>
  <strong>Signmsg:</strong>
  <%= @ojdt.SignMsg %>
</p>

<p>
  <strong>Signdigest:</strong>
  <%= @ojdt.SignDigest %>
</p>

<p>
  <strong>Certifnum:</strong>
  <%= @ojdt.CertifNum %>
</p>

<p>
  <strong>Keyversion:</strong>
  <%= @ojdt.KeyVersion %>
</p>

<p>
  <strong>Cup:</strong>
  <%= @ojdt.CUP %>
</p>

<p>
  <strong>Cig:</strong>
  <%= @ojdt.CIG %>
</p>

<p>
  <strong>Supplcode:</strong>
  <%= @ojdt.SupplCode %>
</p>

<p>
  <strong>Spsrctype:</strong>
  <%= @ojdt.SPSrcType %>
</p>

<p>
  <strong>Spsrcid:</strong>
  <%= @ojdt.SPSrcID %>
</p>

<p>
  <strong>Spsrcdln:</strong>
  <%= @ojdt.SPSrcDLN %>
</p>

<p>
  <strong>Deferedtax:</strong>
  <%= @ojdt.DeferedTax %>
</p>

<p>
  <strong>Agrno:</strong>
  <%= @ojdt.AgrNo %>
</p>

<p>
  <strong>Seqnum:</strong>
  <%= @ojdt.SeqNum %>
</p>

<%= link_to 'Edit', edit_ojdt_path(@ojdt) %> |
<%= link_to 'Back', ojdts_path %>
