<%= form_for(@jdt1) do |f| %>
  <% if @jdt1.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@jdt1.errors.count, "error") %> prohibited this jdt1 from being saved:</h2>

      <ul>
      <% @jdt1.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :TransId %><br>
    <%= f.number_field :TransId %>
  </div>
  <div class="field">
    <%= f.label :Line_ID %><br>
    <%= f.number_field :Line_ID %>
  </div>
  <div class="field">
    <%= f.label :Account %><br>
    <%= f.text_field :Account %>
  </div>
  <div class="field">
    <%= f.label :Debit %><br>
    <%= f.text_field :Debit %>
  </div>
  <div class="field">
    <%= f.label :Credit %><br>
    <%= f.text_field :Credit %>
  </div>
  <div class="field">
    <%= f.label :SYSCred %><br>
    <%= f.text_field :SYSCred %>
  </div>
  <div class="field">
    <%= f.label :SYSDeb %><br>
    <%= f.text_field :SYSDeb %>
  </div>
  <div class="field">
    <%= f.label :FCDebit %><br>
    <%= f.text_field :FCDebit %>
  </div>
  <div class="field">
    <%= f.label :FCCredit %><br>
    <%= f.text_field :FCCredit %>
  </div>
  <div class="field">
    <%= f.label :FCCurrency %><br>
    <%= f.text_field :FCCurrency %>
  </div>
  <div class="field">
    <%= f.label :DueDate %><br>
    <%= f.date_select :DueDate %>
  </div>
  <div class="field">
    <%= f.label :SourceID %><br>
    <%= f.number_field :SourceID %>
  </div>
  <div class="field">
    <%= f.label :SourceLine %><br>
    <%= f.number_field :SourceLine %>
  </div>
  <div class="field">
    <%= f.label :ShortName %><br>
    <%= f.text_field :ShortName %>
  </div>
  <div class="field">
    <%= f.label :IntrnMatch %><br>
    <%= f.number_field :IntrnMatch %>
  </div>
  <div class="field">
    <%= f.label :ExtrMatch %><br>
    <%= f.number_field :ExtrMatch %>
  </div>
  <div class="field">
    <%= f.label :ContraAct %><br>
    <%= f.text_field :ContraAct %>
  </div>
  <div class="field">
    <%= f.label :LineMemo %><br>
    <%= f.text_field :LineMemo %>
  </div>
  <div class="field">
    <%= f.label :Ref3Line %><br>
    <%= f.text_field :Ref3Line %>
  </div>
  <div class="field">
    <%= f.label :TransType %><br>
    <%= f.text_field :TransType %>
  </div>
  <div class="field">
    <%= f.label :RefDate %><br>
    <%= f.date_select :RefDate %>
  </div>
  <div class="field">
    <%= f.label :Ref2Date %><br>
    <%= f.date_select :Ref2Date %>
  </div>
  <div class="field">
    <%= f.label :Ref1 %><br>
    <%= f.text_field :Ref1 %>
  </div>
  <div class="field">
    <%= f.label :Ref2 %><br>
    <%= f.text_field :Ref2 %>
  </div>
  <div class="field">
    <%= f.label :CreatedBy %><br>
    <%= f.number_field :CreatedBy %>
  </div>
  <div class="field">
    <%= f.label :BaseRef %><br>
    <%= f.text_field :BaseRef %>
  </div>
  <div class="field">
    <%= f.label :Project %><br>
    <%= f.text_field :Project %>
  </div>
  <div class="field">
    <%= f.label :TransCode %><br>
    <%= f.text_field :TransCode %>
  </div>
  <div class="field">
    <%= f.label :ProfitCode %><br>
    <%= f.text_field :ProfitCode %>
  </div>
  <div class="field">
    <%= f.label :TaxDate %><br>
    <%= f.date_select :TaxDate %>
  </div>
  <div class="field">
    <%= f.label :SystemRate %><br>
    <%= f.text_field :SystemRate %>
  </div>
  <div class="field">
    <%= f.label :MthDate %><br>
    <%= f.date_select :MthDate %>
  </div>
  <div class="field">
    <%= f.label :ToMthSum %><br>
    <%= f.text_field :ToMthSum %>
  </div>
  <div class="field">
    <%= f.label :UserSign %><br>
    <%= f.number_field :UserSign %>
  </div>
  <div class="field">
    <%= f.label :BatchNum %><br>
    <%= f.number_field :BatchNum %>
  </div>
  <div class="field">
    <%= f.label :FinncPriod %><br>
    <%= f.number_field :FinncPriod %>
  </div>
  <div class="field">
    <%= f.label :RelTransId %><br>
    <%= f.number_field :RelTransId %>
  </div>
  <div class="field">
    <%= f.label :RelLineID %><br>
    <%= f.number_field :RelLineID %>
  </div>
  <div class="field">
    <%= f.label :RelType %><br>
    <%= f.text_field :RelType %>
  </div>
  <div class="field">
    <%= f.label :LogInstanc %><br>
    <%= f.number_field :LogInstanc %>
  </div>
  <div class="field">
    <%= f.label :VatGroup %><br>
    <%= f.text_field :VatGroup %>
  </div>
  <div class="field">
    <%= f.label :BaseSum %><br>
    <%= f.text_field :BaseSum %>
  </div>
  <div class="field">
    <%= f.label :VatRate %><br>
    <%= f.text_field :VatRate %>
  </div>
  <div class="field">
    <%= f.label :Indicator %><br>
    <%= f.text_field :Indicator %>
  </div>
  <div class="field">
    <%= f.label :AdjTran %><br>
    <%= f.text_field :AdjTran %>
  </div>
  <div class="field">
    <%= f.label :RevSource %><br>
    <%= f.text_field :RevSource %>
  </div>
  <div class="field">
    <%= f.label :ObjType %><br>
    <%= f.text_field :ObjType %>
  </div>
  <div class="field">
    <%= f.label :VatDate %><br>
    <%= f.date_select :VatDate %>
  </div>
  <div class="field">
    <%= f.label :PaymentRef %><br>
    <%= f.text_field :PaymentRef %>
  </div>
  <div class="field">
    <%= f.label :SYSBaseSum %><br>
    <%= f.text_field :SYSBaseSum %>
  </div>
  <div class="field">
    <%= f.label :MultMatch %><br>
    <%= f.number_field :MultMatch %>
  </div>
  <div class="field">
    <%= f.label :VatLine %><br>
    <%= f.text_field :VatLine %>
  </div>
  <div class="field">
    <%= f.label :VatAmount %><br>
    <%= f.text_field :VatAmount %>
  </div>
  <div class="field">
    <%= f.label :SYSVatSum %><br>
    <%= f.text_field :SYSVatSum %>
  </div>
  <div class="field">
    <%= f.label :Closed %><br>
    <%= f.text_field :Closed %>
  </div>
  <div class="field">
    <%= f.label :GrossValue %><br>
    <%= f.text_field :GrossValue %>
  </div>
  <div class="field">
    <%= f.label :CheckAbs %><br>
    <%= f.number_field :CheckAbs %>
  </div>
  <div class="field">
    <%= f.label :LineType %><br>
    <%= f.number_field :LineType %>
  </div>
  <div class="field">
    <%= f.label :DebCred %><br>
    <%= f.text_field :DebCred %>
  </div>
  <div class="field">
    <%= f.label :SequenceNr %><br>
    <%= f.number_field :SequenceNr %>
  </div>
  <div class="field">
    <%= f.label :StornoAcc %><br>
    <%= f.text_field :StornoAcc %>
  </div>
  <div class="field">
    <%= f.label :BalDueDeb %><br>
    <%= f.text_field :BalDueDeb %>
  </div>
  <div class="field">
    <%= f.label :BalDueCred %><br>
    <%= f.text_field :BalDueCred %>
  </div>
  <div class="field">
    <%= f.label :BalFcDeb %><br>
    <%= f.text_field :BalFcDeb %>
  </div>
  <div class="field">
    <%= f.label :BalFcCred %><br>
    <%= f.text_field :BalFcCred %>
  </div>
  <div class="field">
    <%= f.label :BalScDeb %><br>
    <%= f.text_field :BalScDeb %>
  </div>
  <div class="field">
    <%= f.label :BalScCred %><br>
    <%= f.text_field :BalScCred %>
  </div>
  <div class="field">
    <%= f.label :IsNet %><br>
    <%= f.text_field :IsNet %>
  </div>
  <div class="field">
    <%= f.label :DunWizBlck %><br>
    <%= f.text_field :DunWizBlck %>
  </div>
  <div class="field">
    <%= f.label :DunnLevel %><br>
    <%= f.number_field :DunnLevel %>
  </div>
  <div class="field">
    <%= f.label :DunDate %><br>
    <%= f.date_select :DunDate %>
  </div>
  <div class="field">
    <%= f.label :TaxType %><br>
    <%= f.number_field :TaxType %>
  </div>
  <div class="field">
    <%= f.label :TaxPostAcc %><br>
    <%= f.text_field :TaxPostAcc %>
  </div>
  <div class="field">
    <%= f.label :StaCode %><br>
    <%= f.text_field :StaCode %>
  </div>
  <div class="field">
    <%= f.label :StaType %><br>
    <%= f.number_field :StaType %>
  </div>
  <div class="field">
    <%= f.label :TaxCode %><br>
    <%= f.text_field :TaxCode %>
  </div>
  <div class="field">
    <%= f.label :ValidFrom %><br>
    <%= f.date_select :ValidFrom %>
  </div>
  <div class="field">
    <%= f.label :GrossValFc %><br>
    <%= f.text_field :GrossValFc %>
  </div>
  <div class="field">
    <%= f.label :LvlUpdDate %><br>
    <%= f.date_select :LvlUpdDate %>
  </div>
  <div class="field">
    <%= f.label :OcrCode2 %><br>
    <%= f.text_field :OcrCode2 %>
  </div>
  <div class="field">
    <%= f.label :OcrCode3 %><br>
    <%= f.text_field :OcrCode3 %>
  </div>
  <div class="field">
    <%= f.label :OcrCode4 %><br>
    <%= f.text_field :OcrCode4 %>
  </div>
  <div class="field">
    <%= f.label :OcrCode5 %><br>
    <%= f.text_field :OcrCode5 %>
  </div>
  <div class="field">
    <%= f.label :MIEntry %><br>
    <%= f.number_field :MIEntry %>
  </div>
  <div class="field">
    <%= f.label :MIVEntry %><br>
    <%= f.number_field :MIVEntry %>
  </div>
  <div class="field">
    <%= f.label :ClsInTP %><br>
    <%= f.number_field :ClsInTP %>
  </div>
  <div class="field">
    <%= f.label :CenVatCom %><br>
    <%= f.number_field :CenVatCom %>
  </div>
  <div class="field">
    <%= f.label :MatType %><br>
    <%= f.number_field :MatType %>
  </div>
  <div class="field">
    <%= f.label :PstngType %><br>
    <%= f.number_field :PstngType %>
  </div>
  <div class="field">
    <%= f.label :ValidFrom2 %><br>
    <%= f.date_select :ValidFrom2 %>
  </div>
  <div class="field">
    <%= f.label :ValidFrom3 %><br>
    <%= f.date_select :ValidFrom3 %>
  </div>
  <div class="field">
    <%= f.label :ValidFrom4 %><br>
    <%= f.date_select :ValidFrom4 %>
  </div>
  <div class="field">
    <%= f.label :ValidFrom5 %><br>
    <%= f.date_select :ValidFrom5 %>
  </div>
  <div class="field">
    <%= f.label :Location %><br>
    <%= f.number_field :Location %>
  </div>
  <div class="field">
    <%= f.label :WTaxCode %><br>
    <%= f.text_field :WTaxCode %>
  </div>
  <div class="field">
    <%= f.label :EquVatRate %><br>
    <%= f.text_field :EquVatRate %>
  </div>
  <div class="field">
    <%= f.label :EquVatSum %><br>
    <%= f.text_field :EquVatSum %>
  </div>
  <div class="field">
    <%= f.label :SYSEquSum %><br>
    <%= f.text_field :SYSEquSum %>
  </div>
  <div class="field">
    <%= f.label :TotalVat %><br>
    <%= f.text_field :TotalVat %>
  </div>
  <div class="field">
    <%= f.label :SYSTVat %><br>
    <%= f.text_field :SYSTVat %>
  </div>
  <div class="field">
    <%= f.label :WTLiable %><br>
    <%= f.text_field :WTLiable %>
  </div>
  <div class="field">
    <%= f.label :WTLine %><br>
    <%= f.text_field :WTLine %>
  </div>
  <div class="field">
    <%= f.label :WTApplied %><br>
    <%= f.text_field :WTApplied %>
  </div>
  <div class="field">
    <%= f.label :WTAppliedS %><br>
    <%= f.text_field :WTAppliedS %>
  </div>
  <div class="field">
    <%= f.label :WTAppliedF %><br>
    <%= f.text_field :WTAppliedF %>
  </div>
  <div class="field">
    <%= f.label :WTSum %><br>
    <%= f.text_field :WTSum %>
  </div>
  <div class="field">
    <%= f.label :WTSumFC %><br>
    <%= f.text_field :WTSumFC %>
  </div>
  <div class="field">
    <%= f.label :WTSumSC %><br>
    <%= f.text_field :WTSumSC %>
  </div>
  <div class="field">
    <%= f.label :PayBlock %><br>
    <%= f.text_field :PayBlock %>
  </div>
  <div class="field">
    <%= f.label :PayBlckRef %><br>
    <%= f.number_field :PayBlckRef %>
  </div>
  <div class="field">
    <%= f.label :LicTradNum %><br>
    <%= f.text_field :LicTradNum %>
  </div>
  <div class="field">
    <%= f.label :InterimTyp %><br>
    <%= f.number_field :InterimTyp %>
  </div>
  <div class="field">
    <%= f.label :DprId %><br>
    <%= f.number_field :DprId %>
  </div>
  <div class="field">
    <%= f.label :MatchRef %><br>
    <%= f.text_field :MatchRef %>
  </div>
  <div class="field">
    <%= f.label :Ordered %><br>
    <%= f.text_field :Ordered %>
  </div>
  <div class="field">
    <%= f.label :CUP %><br>
    <%= f.number_field :CUP %>
  </div>
  <div class="field">
    <%= f.label :CIG %><br>
    <%= f.number_field :CIG %>
  </div>
  <div class="field">
    <%= f.label :BPLId %><br>
    <%= f.number_field :BPLId %>
  </div>
  <div class="field">
    <%= f.label :BPLName %><br>
    <%= f.text_field :BPLName %>
  </div>
  <div class="field">
    <%= f.label :VatRegNum %><br>
    <%= f.text_field :VatRegNum %>
  </div>
  <div class="field">
    <%= f.label :SLEDGERF %><br>
    <%= f.text_field :SLEDGERF %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
