<p id="notice"><%= notice %></p>

<p>
  <strong>Absentry:</strong>
  <%= @jdt2.AbsEntry %>
</p>

<p>
  <strong>Wtcode:</strong>
  <%= @jdt2.WTCode %>
</p>

<p>
  <strong>Rate:</strong>
  <%= @jdt2.Rate %>
</p>

<p>
  <strong>Taxbleamnt:</strong>
  <%= @jdt2.TaxbleAmnt %>
</p>

<p>
  <strong>Txblamntsc:</strong>
  <%= @jdt2.TxblAmntSC %>
</p>

<p>
  <strong>Txblamntfc:</strong>
  <%= @jdt2.TxblAmntFC %>
</p>

<p>
  <strong>Wtamnt:</strong>
  <%= @jdt2.WTAmnt %>
</p>

<p>
  <strong>Wtamntsc:</strong>
  <%= @jdt2.WTAmntSC %>
</p>

<p>
  <strong>Wtamntfc:</strong>
  <%= @jdt2.WTAmntFC %>
</p>

<p>
  <strong>Applamnt:</strong>
  <%= @jdt2.ApplAmnt %>
</p>

<p>
  <strong>Applamntsc:</strong>
  <%= @jdt2.ApplAmntSC %>
</p>

<p>
  <strong>Applamntfc:</strong>
  <%= @jdt2.ApplAmntFC %>
</p>

<p>
  <strong>Category:</strong>
  <%= @jdt2.Category %>
</p>

<p>
  <strong>Criteria:</strong>
  <%= @jdt2.Criteria %>
</p>

<p>
  <strong>Account:</strong>
  <%= @jdt2.Account %>
</p>

<p>
  <strong>Type:</strong>
  <%= @jdt2.Type %>
</p>

<p>
  <strong>Roundtype:</strong>
  <%= @jdt2.RoundType %>
</p>

<p>
  <strong>Basetype:</strong>
  <%= @jdt2.BaseType %>
</p>

<p>
  <strong>Baseabsent:</strong>
  <%= @jdt2.BaseAbsEnt %>
</p>

<p>
  <strong>Baseline:</strong>
  <%= @jdt2.BaseLine %>
</p>

<p>
  <strong>Basenum:</strong>
  <%= @jdt2.BaseNum %>
</p>

<p>
  <strong>Linenum:</strong>
  <%= @jdt2.LineNum %>
</p>

<p>
  <strong>Baseref:</strong>
  <%= @jdt2.BaseRef %>
</p>

<p>
  <strong>Status:</strong>
  <%= @jdt2.Status %>
</p>

<p>
  <strong>Trgtype:</strong>
  <%= @jdt2.TrgType %>
</p>

<p>
  <strong>Trgabsentr:</strong>
  <%= @jdt2.TrgAbsEntr %>
</p>

<p>
  <strong>Loginstanc:</strong>
  <%= @jdt2.LogInstanc %>
</p>

<p>
  <strong>Objtype:</strong>
  <%= @jdt2.ObjType %>
</p>

<p>
  <strong>Doc1lineno:</strong>
  <%= @jdt2.Doc1LineNo %>
</p>

<p>
  <strong>Wtlinetype:</strong>
  <%= @jdt2.WtLineType %>
</p>

<p>
  <strong>Txblcurr:</strong>
  <%= @jdt2.TxblCurr %>
</p>

<p>
  <strong>Dtblcurr:</strong>
  <%= @jdt2.DtblCurr %>
</p>

<p>
  <strong>Dtblrate:</strong>
  <%= @jdt2.DtblRate %>
</p>

<p>
  <strong>Txblrate:</strong>
  <%= @jdt2.txblRate %>
</p>

<p>
  <strong>Dtblamount:</strong>
  <%= @jdt2.DtblAmount %>
</p>

<p>
  <strong>Tdsacc:</strong>
  <%= @jdt2.TdsAcc %>
</p>

<p>
  <strong>Suracc:</strong>
  <%= @jdt2.SurAcc %>
</p>

<p>
  <strong>Cessacc:</strong>
  <%= @jdt2.CessAcc %>
</p>

<p>
  <strong>Hscacc:</strong>
  <%= @jdt2.HscAcc %>
</p>

<p>
  <strong>Tdsrate:</strong>
  <%= @jdt2.TdsRate %>
</p>

<p>
  <strong>Surrate:</strong>
  <%= @jdt2.SurRate %>
</p>

<p>
  <strong>Cessrate:</strong>
  <%= @jdt2.CessRate %>
</p>

<p>
  <strong>Hscrate:</strong>
  <%= @jdt2.HscRate %>
</p>

<p>
  <strong>Tdsbamt:</strong>
  <%= @jdt2.TdsBAmt %>
</p>

<p>
  <strong>Tdsbamtsc:</strong>
  <%= @jdt2.TdsBAmtSC %>
</p>

<p>
  <strong>Tdsbamtfc:</strong>
  <%= @jdt2.TdsBAmtFC %>
</p>

<p>
  <strong>Surbamt:</strong>
  <%= @jdt2.SurBAmt %>
</p>

<p>
  <strong>Surbamtsc:</strong>
  <%= @jdt2.SurBAmtSC %>
</p>

<p>
  <strong>Surbamtfc:</strong>
  <%= @jdt2.SurBAmtFC %>
</p>

<p>
  <strong>Cessbamt:</strong>
  <%= @jdt2.CessBAmt %>
</p>

<p>
  <strong>Cessbamtsc:</strong>
  <%= @jdt2.CessBAmtSC %>
</p>

<p>
  <strong>Cessbamtfc:</strong>
  <%= @jdt2.CessBAmtFC %>
</p>

<p>
  <strong>Hscbamt:</strong>
  <%= @jdt2.HscBAmt %>
</p>

<p>
  <strong>Hscbamtsc:</strong>
  <%= @jdt2.HscBAmtSC %>
</p>

<p>
  <strong>Hscbamtfc:</strong>
  <%= @jdt2.HscBAmtFC %>
</p>

<p>
  <strong>Tdsamnt:</strong>
  <%= @jdt2.TdsAmnt %>
</p>

<p>
  <strong>Tdsamntsc:</strong>
  <%= @jdt2.TdsAmntSC %>
</p>

<p>
  <strong>Tdsamntfc:</strong>
  <%= @jdt2.TdsAmntFC %>
</p>

<p>
  <strong>Suramnt:</strong>
  <%= @jdt2.SurAmnt %>
</p>

<p>
  <strong>Suramntsc:</strong>
  <%= @jdt2.SurAmntSC %>
</p>

<p>
  <strong>Suramntfc:</strong>
  <%= @jdt2.SurAmntFC %>
</p>

<p>
  <strong>Cessamnt:</strong>
  <%= @jdt2.CessAmnt %>
</p>

<p>
  <strong>Cessamntsc:</strong>
  <%= @jdt2.CessAmntSC %>
</p>

<p>
  <strong>Cessamntfc:</strong>
  <%= @jdt2.CessAmntFC %>
</p>

<p>
  <strong>Hscamnt:</strong>
  <%= @jdt2.HscAmnt %>
</p>

<p>
  <strong>Hscamntsc:</strong>
  <%= @jdt2.HscAmntSC %>
</p>

<p>
  <strong>Hscamntfc:</strong>
  <%= @jdt2.HscAmntFC %>
</p>

<p>
  <strong>Tdsappl:</strong>
  <%= @jdt2.TdsAppl %>
</p>

<p>
  <strong>Tdsapplsc:</strong>
  <%= @jdt2.TdsApplSC %>
</p>

<p>
  <strong>Tdsapplfc:</strong>
  <%= @jdt2.TdsApplFC %>
</p>

<p>
  <strong>Surappl:</strong>
  <%= @jdt2.SurAppl %>
</p>

<p>
  <strong>Surapplsc:</strong>
  <%= @jdt2.SurApplSC %>
</p>

<p>
  <strong>Surapplfc:</strong>
  <%= @jdt2.SurApplFC %>
</p>

<p>
  <strong>Cessappl:</strong>
  <%= @jdt2.CessAppl %>
</p>

<p>
  <strong>Cessapplsc:</strong>
  <%= @jdt2.CessApplSC %>
</p>

<p>
  <strong>Cessapplfc:</strong>
  <%= @jdt2.CessApplFC %>
</p>

<p>
  <strong>Hscappl:</strong>
  <%= @jdt2.HscAppl %>
</p>

<p>
  <strong>Hscapplsc:</strong>
  <%= @jdt2.HscApplSC %>
</p>

<p>
  <strong>Hscapplfc:</strong>
  <%= @jdt2.HscApplFC %>
</p>

<p>
  <strong>Batchnum:</strong>
  <%= @jdt2.BatchNum %>
</p>

<p>
  <strong>Incstcode:</strong>
  <%= @jdt2.InCSTCode %>
</p>

<p>
  <strong>Outcstcode:</strong>
  <%= @jdt2.OutCSTCode %>
</p>

<%= link_to 'Edit', edit_jdt2_path(@jdt2) %> |
<%= link_to 'Back', jdt2s_path %>
