<p id="notice"><%= notice %></p>

<p>
  <strong>Batchnum:</strong>
  <%= @ojdtum.BatchNum %>
</p>

<p>
  <strong>Transid:</strong>
  <%= @ojdtum.TransId %>
</p>

<p>
  <strong>Btfstatus:</strong>
  <%= @ojdtum.BtfStatus %>
</p>

<p>
  <strong>Transtype:</strong>
  <%= @ojdtum.TransType %>
</p>

<p>
  <strong>Baseref:</strong>
  <%= @ojdtum.BaseRef %>
</p>

<p>
  <strong>Refdate:</strong>
  <%= @ojdtum.RefDate %>
</p>

<p>
  <strong>Memo:</strong>
  <%= @ojdtum.Memo %>
</p>

<p>
  <strong>Ref1:</strong>
  <%= @ojdtum.Ref1 %>
</p>

<p>
  <strong>Ref2:</strong>
  <%= @ojdtum.Ref2 %>
</p>

<p>
  <strong>Createdby:</strong>
  <%= @ojdtum.CreatedBy %>
</p>

<p>
  <strong>Loctotal:</strong>
  <%= @ojdtum.LocTotal %>
</p>

<p>
  <strong>Fctotal:</strong>
  <%= @ojdtum.FcTotal %>
</p>

<p>
  <strong>Systotal:</strong>
  <%= @ojdtum.SysTotal %>
</p>

<p>
  <strong>Transcode:</strong>
  <%= @ojdtum.TransCode %>
</p>

<p>
  <strong>Origncurr:</strong>
  <%= @ojdtum.OrignCurr %>
</p>

<p>
  <strong>Transrate:</strong>
  <%= @ojdtum.TransRate %>
</p>

<p>
  <strong>Btfline:</strong>
  <%= @ojdtum.BtfLine %>
</p>

<p>
  <strong>Transcurr:</strong>
  <%= @ojdtum.TransCurr %>
</p>

<p>
  <strong>Project:</strong>
  <%= @ojdtum.Project %>
</p>

<p>
  <strong>Duedate:</strong>
  <%= @ojdtum.DueDate %>
</p>

<p>
  <strong>Taxdate:</strong>
  <%= @ojdtum.TaxDate %>
</p>

<p>
  <strong>Pcaddition:</strong>
  <%= @ojdtum.PCAddition %>
</p>

<p>
  <strong>Finncpriod:</strong>
  <%= @ojdtum.FinncPriod %>
</p>

<p>
  <strong>Datasource:</strong>
  <%= @ojdtum.DataSource %>
</p>

<p>
  <strong>Updatedate:</strong>
  <%= @ojdtum.UpdateDate %>
</p>

<p>
  <strong>Createdate:</strong>
  <%= @ojdtum.CreateDate %>
</p>

<p>
  <strong>Usersign:</strong>
  <%= @ojdtum.UserSign %>
</p>

<p>
  <strong>Usersign2:</strong>
  <%= @ojdtum.UserSign2 %>
</p>

<p>
  <strong>Refndrprt:</strong>
  <%= @ojdtum.RefndRprt %>
</p>

<p>
  <strong>Loginstanc:</strong>
  <%= @ojdtum.LogInstanc %>
</p>

<p>
  <strong>Objtype:</strong>
  <%= @ojdtum.ObjType %>
</p>

<p>
  <strong>Indicator:</strong>
  <%= @ojdtum.Indicator %>
</p>

<p>
  <strong>Adjtran:</strong>
  <%= @ojdtum.AdjTran %>
</p>

<p>
  <strong>Revsource:</strong>
  <%= @ojdtum.RevSource %>
</p>

<p>
  <strong>Stornodate:</strong>
  <%= @ojdtum.StornoDate %>
</p>

<p>
  <strong>Stornototr:</strong>
  <%= @ojdtum.StornoToTr %>
</p>

<p>
  <strong>Autostorno:</strong>
  <%= @ojdtum.AutoStorno %>
</p>

<p>
  <strong>Corisptivi:</strong>
  <%= @ojdtum.Corisptivi %>
</p>

<p>
  <strong>Vatdate:</strong>
  <%= @ojdtum.VatDate %>
</p>

<p>
  <strong>Stamptax:</strong>
  <%= @ojdtum.StampTax %>
</p>

<p>
  <strong>Series:</strong>
  <%= @ojdtum.Series %>
</p>

<p>
  <strong>Number:</strong>
  <%= @ojdtum.Number %>
</p>

<p>
  <strong>Autovat:</strong>
  <%= @ojdtum.AutoVAT %>
</p>

<p>
  <strong>Docseries:</strong>
  <%= @ojdtum.DocSeries %>
</p>

<p>
  <strong>Foliopref:</strong>
  <%= @ojdtum.FolioPref %>
</p>

<p>
  <strong>Folionum:</strong>
  <%= @ojdtum.FolioNum %>
</p>

<p>
  <strong>Createtime:</strong>
  <%= @ojdtum.CreateTime %>
</p>

<p>
  <strong>Blockdunn:</strong>
  <%= @ojdtum.BlockDunn %>
</p>

<p>
  <strong>Reporteu:</strong>
  <%= @ojdtum.ReportEU %>
</p>

<p>
  <strong>Report347:</strong>
  <%= @ojdtum.Report347 %>
</p>

<p>
  <strong>Printed:</strong>
  <%= @ojdtum.Printed %>
</p>

<p>
  <strong>Doctype:</strong>
  <%= @ojdtum.DocType %>
</p>

<p>
  <strong>Attnum:</strong>
  <%= @ojdtum.AttNum %>
</p>

<p>
  <strong>Genregno:</strong>
  <%= @ojdtum.GenRegNo %>
</p>

<p>
  <strong>Rg23apart2:</strong>
  <%= @ojdtum.RG23APart2 %>
</p>

<p>
  <strong>Rg23cpart2:</strong>
  <%= @ojdtum.RG23CPart2 %>
</p>

<p>
  <strong>Mattype:</strong>
  <%= @ojdtum.MatType %>
</p>

<p>
  <strong>Creator:</strong>
  <%= @ojdtum.Creator %>
</p>

<p>
  <strong>Approver:</strong>
  <%= @ojdtum.Approver %>
</p>

<p>
  <strong>Location:</strong>
  <%= @ojdtum.Location %>
</p>

<p>
  <strong>Seqcode:</strong>
  <%= @ojdtum.SeqCode %>
</p>

<p>
  <strong>Serial:</strong>
  <%= @ojdtum.Serial %>
</p>

<p>
  <strong>Seriesstr:</strong>
  <%= @ojdtum.SeriesStr %>
</p>

<p>
  <strong>Substr:</strong>
  <%= @ojdtum.SubStr %>
</p>

<p>
  <strong>Autowt:</strong>
  <%= @ojdtum.AutoWT %>
</p>

<p>
  <strong>Wtsum:</strong>
  <%= @ojdtum.WTSum %>
</p>

<p>
  <strong>Wtsumsc:</strong>
  <%= @ojdtum.WTSumSC %>
</p>

<p>
  <strong>Wtsumfc:</strong>
  <%= @ojdtum.WTSumFC %>
</p>

<p>
  <strong>Wtapplied:</strong>
  <%= @ojdtum.WTApplied %>
</p>

<p>
  <strong>Wtapplieds:</strong>
  <%= @ojdtum.WTAppliedS %>
</p>

<p>
  <strong>Wtappliedf:</strong>
  <%= @ojdtum.WTAppliedF %>
</p>

<p>
  <strong>Baseamnt:</strong>
  <%= @ojdtum.BaseAmnt %>
</p>

<p>
  <strong>Baseamntsc:</strong>
  <%= @ojdtum.BaseAmntSC %>
</p>

<p>
  <strong>Baseamntfc:</strong>
  <%= @ojdtum.BaseAmntFC %>
</p>

<p>
  <strong>Basevtat:</strong>
  <%= @ojdtum.BaseVtAt %>
</p>

<p>
  <strong>Basevtatsc:</strong>
  <%= @ojdtum.BaseVtAtSC %>
</p>

<p>
  <strong>Basevtatfc:</strong>
  <%= @ojdtum.BaseVtAtFC %>
</p>

<p>
  <strong>Versionnum:</strong>
  <%= @ojdtum.VersionNum %>
</p>

<p>
  <strong>Basetrans:</strong>
  <%= @ojdtum.BaseTrans %>
</p>

<p>
  <strong>Residennum:</strong>
  <%= @ojdtum.ResidenNum %>
</p>

<p>
  <strong>Operatcode:</strong>
  <%= @ojdtum.OperatCode %>
</p>

<p>
  <strong>Ref3:</strong>
  <%= @ojdtum.Ref3 %>
</p>

<p>
  <strong>Ssiexmpt:</strong>
  <%= @ojdtum.SSIExmpt %>
</p>

<p>
  <strong>Signmsg:</strong>
  <%= @ojdtum.SignMsg %>
</p>

<p>
  <strong>Signdigest:</strong>
  <%= @ojdtum.SignDigest %>
</p>

<p>
  <strong>Certifnum:</strong>
  <%= @ojdtum.CertifNum %>
</p>

<p>
  <strong>Keyversion:</strong>
  <%= @ojdtum.KeyVersion %>
</p>

<p>
  <strong>Cup:</strong>
  <%= @ojdtum.CUP %>
</p>

<p>
  <strong>Cig:</strong>
  <%= @ojdtum.CIG %>
</p>

<p>
  <strong>Supplcode:</strong>
  <%= @ojdtum.SupplCode %>
</p>

<p>
  <strong>Spsrctype:</strong>
  <%= @ojdtum.SPSrcType %>
</p>

<p>
  <strong>Spsrcid:</strong>
  <%= @ojdtum.SPSrcID %>
</p>

<p>
  <strong>Spsrcdln:</strong>
  <%= @ojdtum.SPSrcDLN %>
</p>

<p>
  <strong>Deferedtax:</strong>
  <%= @ojdtum.DeferedTax %>
</p>

<p>
  <strong>Agrno:</strong>
  <%= @ojdtum.AgrNo %>
</p>

<p>
  <strong>Seqnum:</strong>
  <%= @ojdtum.SeqNum %>
</p>

<%= link_to 'Edit', edit_ojdtum_path(@ojdtum) %> |
<%= link_to 'Back', ojdta_path %>
