<p id="notice"><%= notice %></p>

<h1>Ttts</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ttts.each do |ttt| %>
      <tr>
        <td><%= ttt.name %></td>
        <td><%= link_to 'Show', ttt %></td>
        <td><%= link_to 'Edit', edit_ttt_path(ttt) %></td>
        <td><%= link_to 'Destroy', ttt, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ttt', new_ttt_path %>
