<p>
  <b>Batchnum:</b>
  <%=h @ojdt.BatchNum %>
</p>

<p>
  <b>Transid:</b>
  <%=h @ojdt.TransId %>
</p>

<p>
  <b>Btfstatus:</b>
  <%=h @ojdt.BtfStatus %>
</p>

<p>
  <b>Transtype:</b>
  <%=h @ojdt.TransType %>
</p>

<p>
  <b>Baseref:</b>
  <%=h @ojdt.BaseRef %>
</p>

<p>
  <b>Refdate:</b>
  <%=h @ojdt.RefDate %>
</p>

<p>
  <b>Memo:</b>
  <%=h @ojdt.Memo %>
</p>

<p>
  <b>Ref1:</b>
  <%=h @ojdt.Ref1 %>
</p>

<p>
  <b>Ref2:</b>
  <%=h @ojdt.Ref2 %>
</p>

<p>
  <b>Createdby:</b>
  <%=h @ojdt.CreatedBy %>
</p>

<p>
  <b>Loctotal:</b>
  <%=h @ojdt.LocTotal %>
</p>

<p>
  <b>Fctotal:</b>
  <%=h @ojdt.FcTotal %>
</p>

<p>
  <b>Systotal:</b>
  <%=h @ojdt.SysTotal %>
</p>

<p>
  <b>Transcode:</b>
  <%=h @ojdt.TransCode %>
</p>

<p>
  <b>Origncurr:</b>
  <%=h @ojdt.OrignCurr %>
</p>

<p>
  <b>Transrate:</b>
  <%=h @ojdt.TransRate %>
</p>

<p>
  <b>Btfline:</b>
  <%=h @ojdt.BtfLine %>
</p>

<p>
  <b>Transcurr:</b>
  <%=h @ojdt.TransCurr %>
</p>

<p>
  <b>Project:</b>
  <%=h @ojdt.Project %>
</p>

<p>
  <b>Duedate:</b>
  <%=h @ojdt.DueDate %>
</p>

<p>
  <b>Taxdate:</b>
  <%=h @ojdt.TaxDate %>
</p>

<p>
  <b>Pcaddition:</b>
  <%=h @ojdt.PCAddition %>
</p>

<p>
  <b>Finncpriod:</b>
  <%=h @ojdt.FinncPriod %>
</p>

<p>
  <b>Datasource:</b>
  <%=h @ojdt.DataSource %>
</p>

<p>
  <b>Updatedate:</b>
  <%=h @ojdt.UpdateDate %>
</p>

<p>
  <b>Createdate:</b>
  <%=h @ojdt.CreateDate %>
</p>

<p>
  <b>Usersign:</b>
  <%=h @ojdt.UserSign %>
</p>

<p>
  <b>Usersign2:</b>
  <%=h @ojdt.UserSign2 %>
</p>

<p>
  <b>Refndrprt:</b>
  <%=h @ojdt.RefndRprt %>
</p>

<p>
  <b>Loginstanc:</b>
  <%=h @ojdt.LogInstanc %>
</p>

<p>
  <b>Objtype:</b>
  <%=h @ojdt.ObjType %>
</p>

<p>
  <b>Indicator:</b>
  <%=h @ojdt.Indicator %>
</p>

<p>
  <b>Adjtran:</b>
  <%=h @ojdt.AdjTran %>
</p>

<p>
  <b>Revsource:</b>
  <%=h @ojdt.RevSource %>
</p>

<p>
  <b>Stornodate:</b>
  <%=h @ojdt.StornoDate %>
</p>

<p>
  <b>Stornototr:</b>
  <%=h @ojdt.StornoToTr %>
</p>

<p>
  <b>Autostorno:</b>
  <%=h @ojdt.AutoStorno %>
</p>

<p>
  <b>Corisptivi:</b>
  <%=h @ojdt.Corisptivi %>
</p>

<p>
  <b>Vatdate:</b>
  <%=h @ojdt.VatDate %>
</p>

<p>
  <b>Stamptax:</b>
  <%=h @ojdt.StampTax %>
</p>

<p>
  <b>Series:</b>
  <%=h @ojdt.Series %>
</p>

<p>
  <b>Number:</b>
  <%=h @ojdt.Number %>
</p>

<p>
  <b>Autovat:</b>
  <%=h @ojdt.AutoVAT %>
</p>

<p>
  <b>Docseries:</b>
  <%=h @ojdt.DocSeries %>
</p>

<p>
  <b>Foliopref:</b>
  <%=h @ojdt.FolioPref %>
</p>

<p>
  <b>Folionum:</b>
  <%=h @ojdt.FolioNum %>
</p>

<p>
  <b>Createtime:</b>
  <%=h @ojdt.CreateTime %>
</p>

<p>
  <b>Blockdunn:</b>
  <%=h @ojdt.BlockDunn %>
</p>

<p>
  <b>Reporteu:</b>
  <%=h @ojdt.ReportEU %>
</p>

<p>
  <b>Report347:</b>
  <%=h @ojdt.Report347 %>
</p>

<p>
  <b>Printed:</b>
  <%=h @ojdt.Printed %>
</p>

<p>
  <b>Doctype:</b>
  <%=h @ojdt.DocType %>
</p>

<p>
  <b>Attnum:</b>
  <%=h @ojdt.AttNum %>
</p>

<p>
  <b>Genregno:</b>
  <%=h @ojdt.GenRegNo %>
</p>

<p>
  <b>Rg23apart2:</b>
  <%=h @ojdt.RG23APart2 %>
</p>

<p>
  <b>Rg23cpart2:</b>
  <%=h @ojdt.RG23CPart2 %>
</p>

<p>
  <b>Mattype:</b>
  <%=h @ojdt.MatType %>
</p>

<p>
  <b>Creator:</b>
  <%=h @ojdt.Creator %>
</p>

<p>
  <b>Approver:</b>
  <%=h @ojdt.Approver %>
</p>

<p>
  <b>Location:</b>
  <%=h @ojdt.Location %>
</p>

<p>
  <b>Seqcode:</b>
  <%=h @ojdt.SeqCode %>
</p>

<p>
  <b>Serial:</b>
  <%=h @ojdt.Serial %>
</p>

<p>
  <b>Seriesstr:</b>
  <%=h @ojdt.SeriesStr %>
</p>

<p>
  <b>Substr:</b>
  <%=h @ojdt.SubStr %>
</p>

<p>
  <b>Autowt:</b>
  <%=h @ojdt.AutoWT %>
</p>

<p>
  <b>Wtsum:</b>
  <%=h @ojdt.WTSum %>
</p>

<p>
  <b>Wtsumsc:</b>
  <%=h @ojdt.WTSumSC %>
</p>

<p>
  <b>Wtsumfc:</b>
  <%=h @ojdt.WTSumFC %>
</p>

<p>
  <b>Wtapplied:</b>
  <%=h @ojdt.WTApplied %>
</p>

<p>
  <b>Wtapplieds:</b>
  <%=h @ojdt.WTAppliedS %>
</p>

<p>
  <b>Wtappliedf:</b>
  <%=h @ojdt.WTAppliedF %>
</p>

<p>
  <b>Baseamnt:</b>
  <%=h @ojdt.BaseAmnt %>
</p>

<p>
  <b>Baseamntsc:</b>
  <%=h @ojdt.BaseAmntSC %>
</p>

<p>
  <b>Baseamntfc:</b>
  <%=h @ojdt.BaseAmntFC %>
</p>

<p>
  <b>Basevtat:</b>
  <%=h @ojdt.BaseVtAt %>
</p>

<p>
  <b>Basevtatsc:</b>
  <%=h @ojdt.BaseVtAtSC %>
</p>

<p>
  <b>Basevtatfc:</b>
  <%=h @ojdt.BaseVtAtFC %>
</p>

<p>
  <b>Versionnum:</b>
  <%=h @ojdt.VersionNum %>
</p>

<p>
  <b>Basetrans:</b>
  <%=h @ojdt.BaseTrans %>
</p>

<p>
  <b>Residennum:</b>
  <%=h @ojdt.ResidenNum %>
</p>

<p>
  <b>Operatcode:</b>
  <%=h @ojdt.OperatCode %>
</p>

<p>
  <b>Ref3:</b>
  <%=h @ojdt.Ref3 %>
</p>

<p>
  <b>Ssiexmpt:</b>
  <%=h @ojdt.SSIExmpt %>
</p>

<p>
  <b>Signmsg:</b>
  <%=h @ojdt.SignMsg %>
</p>

<p>
  <b>Signdigest:</b>
  <%=h @ojdt.SignDigest %>
</p>

<p>
  <b>Certifnum:</b>
  <%=h @ojdt.CertifNum %>
</p>

<p>
  <b>Keyversion:</b>
  <%=h @ojdt.KeyVersion %>
</p>

<p>
  <b>Cup:</b>
  <%=h @ojdt.CUP %>
</p>

<p>
  <b>Cig:</b>
  <%=h @ojdt.CIG %>
</p>

<p>
  <b>Supplcode:</b>
  <%=h @ojdt.SupplCode %>
</p>

<p>
  <b>Spsrctype:</b>
  <%=h @ojdt.SPSrcType %>
</p>

<p>
  <b>Spsrcid:</b>
  <%=h @ojdt.SPSrcID %>
</p>

<p>
  <b>Spsrcdln:</b>
  <%=h @ojdt.SPSrcDLN %>
</p>

<p>
  <b>Deferedtax:</b>
  <%=h @ojdt.DeferedTax %>
</p>

<p>
  <b>Agrno:</b>
  <%=h @ojdt.AgrNo %>
</p>

<p>
  <b>Seqnum:</b>
  <%=h @ojdt.SeqNum %>
</p>


<%= link_to 'Edit', edit_ojdt_path(@ojdt) %> |
<%= link_to 'Back', ojdts_path %>